In [1]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [2]:
train_data = pd.read_csv("train.csv")
features = pd.read_csv("features.csv")
patient_notes = pd.read_csv("patient_notes.csv")

In [3]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [4]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [5]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [6]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [7]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [8]:
train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

,id,case_num,pn_num,feature_num,annotation,location
1248,02425_000,0,2425,0,[],[]
1249,02425_001,0,2425,1,['Mother hx of thyroid disease'],['594 622']
1250,02425_002,0,2425,2,[],[]
1251,02425_003,0,2425,3,['5-7 episodes'],['64 76']
1252,02425_004,0,2425,4,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1254,02425_006,0,2425,6,[],[]
1255,02425_007,0,2425,7,['SOB'],['330 333']
1256,02425_008,0,2425,8,[],[]
1257,02425_009,0,2425,9,['palpitation'],['9 20']
1258,02425_010,0,2425,10,['Started 3 months ago'],['24 44']
1259,02425_011,0,2425,11,['17 yo'],['0 5']
1260,02425_012,0,2425,12,[],[]

**test : 1146,188,831,2425,2430**

In [9]:
new_train = train_data[(train_data.case_num == 0)&(train_data.pn_num != 1146)&(train_data.pn_num != 188)&(train_data.pn_num != 831)&(train_data.pn_num != 2425)&(train_data.pn_num != 2430)][['pn_num','annotation',"location","feature_num"]]

In [10]:
rand_train = new_train[(new_train.feature_num == 2)]

In [11]:
rand_train.head(10)

     pn_num                 annotation     location  feature_num
2        16         ['chest pressure']  ['203 217']            2
15       41  ['PRESSURE ON HER CHEST']  ['263 284']            2
28       46                         []           []            2
41       82                         []           []            2
54      100         ['chest pressure']  ['310 324']            2
67      161    ['pressure over chest']  ['258 277']            2
93      211         ['chest pressure']  ['411 425']            2
106     224         ['chest pressure']  ['177 191']            2
119     225                         []           []            2
132     234                         []           []            2

In [12]:
rand_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  211,  224,  225,  234,  331,
        344,  352,  372,  390,  426,  464,  489,  495,  510,  575,  583,
        585,  625,  653,  669,  673,  699,  701,  719,  768,  769,  777,
        796,  804,  810,  816,  817,  821,  861,  883,  970,  977,  987,
       1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209,
       1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587,
       1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847,
       1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223,
       2271, 2285, 2290, 2308, 2315, 2428, 2436], dtype=int64)

In [13]:
rand_train.shape

(95, 4)

#### Removing all [ ] or null columns

In [14]:
rand_train = rand_train[rand_train.annotation != '[]']

In [15]:
rand_train.shape

(65, 4)

**Removing all [ & ] in strings**

In [16]:
rand_train["annotation"] = rand_train.annotation.str.replace('[','')
rand_train["annotation"] = rand_train.annotation.str.replace(']','')
rand_train["location"] = rand_train.location.str.replace('[','')
rand_train["location"] = rand_train.location.str.replace(']','')

In [17]:
rand_train.head()

    pn_num               annotation   location  feature_num
2       16         'chest pressure'  '203 217'            2
15      41  'PRESSURE ON HER CHEST'  '263 284'            2
54     100         'chest pressure'  '310 324'            2
67     161    'pressure over chest'  '258 277'            2
93     211         'chest pressure'  '411 425'            2

In [18]:
for  index,row in rand_train.iterrows():
    if ',' in row["annotation"]:
        print(row["annotation"],index)

'chest tightness', 'chest tightness' 171
'chest pressure', 'chest discomfort' 262
'chest pressure', 'pressure in the chest' 392

#### special row in which data was stored incorrectly need to correct it

In [19]:
rand_train.loc[rand_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [20]:
rand_train[rand_train.pn_num == 1581][0:1].annotation

873    'pressure in the middle of his chest'
Name: annotation, dtype: object

**splitting locations and annotations**

In [21]:
rand_train = (rand_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(rand_train.columns, axis=1))

In [22]:
rand_train.loc[rand_train.pn_num == 2436]

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num]
Index: []

**Creating two new columns "start location" and "end location"**

In [23]:
rand_train["start_location"] = rand_train["location"].apply(lambda x: x.split()[0][1:])
rand_train["end_location"] = rand_train["location"].apply(lambda x: x.split()[-1][:-1])

In [24]:
rand_train.head()

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'chest pressure','203 217',2,203,217
1,41,'PRESSURE ON HER CHEST','263 284',2,263,284
2,100,'chest pressure','310 324',2,310,324
3,161,'pressure over chest','258 277',2,258,277
4,211,'chest pressure','411 425',2,411,425

In [25]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [26]:
print(row_index)

[16]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [27]:
rand_train.iloc[45:47,]   # 45

,pn_num,annotation,location,feature_num,start_location,end_location
45,1547,'pressure in the center of his chest','287 322',2,287,322
46,1581,'pressure in the middle of his chest','425 460',2,425,460

In [28]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 82])[0][126:151]

'heart racing and pounding'

In [29]:
rand_train.iloc[73:75,]   #73

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

In [30]:
rand_train.iloc[84:86,] # 84

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

In [31]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

'heart is pounding fast'

In [32]:
rand_train.iloc[104:106,] # 104

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

In [33]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [34]:
rand_train.iloc[293:295,] # 104

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [35]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= rand_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= rand_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [36]:
len(drop_index)

1

In [37]:
print(drop_index)

[15]

#### Dropping the unwanted indexes

In [38]:
rand_train = rand_train.drop(drop_index,axis=0)

In [39]:
rand_train.loc[(rand_train.end_location == '141')]

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

In [1]:
rand_train = rand_train.drop(353,axis = 0)

In [41]:
rand_train.loc[(rand_train.end_location == '141')]

Empty DataFrame
Columns: [pn_num, annotation, location, feature_num, start_location, end_location]
Index: []

In [42]:
rand_train.loc[(rand_train.pn_num == 2428)]

,pn_num,annotation,location,feature_num,start_location,end_location
67,2428,'chest pressure','161 175',2,161,175

In [43]:
# rand_train = rand_train.drop(1123,axis = 0)

**Finding unique patient numbers in the train dataset**

In [44]:
pn_Num_list = list(rand_train.pn_num.unique())

In [45]:
print(pn_Num_list)

[16, 41, 100, 161, 211, 224, 331, 344, 352, 372, 390, 426, 489, 495, 510, 575, 583, 585, 625, 653, 699, 701, 719, 769, 777, 796, 816, 817, 821, 861, 883, 977, 987, 1133, 1173, 1200, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1692, 1699, 1723, 1742, 1809, 1835, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2198, 2201, 2223, 2290, 2308, 2428]

In [46]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in rand_train[rand_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [48]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week2.json", "w") as outfile:
    outfile.write(json_object)

In [49]:
import json
 
# Opening JSON file
f = open("sample_Week2.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [51]:
len(data)

65

In [71]:
train = data[:55]
validation = data[55:]

In [73]:
len(train),len(validation)

(55, 10)

In [74]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [75]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [76]:
create_training(train)

100%|█████████████████████████████████████████████████████████████████████████████████| 55/55 [00:00<00:00, 689.14it/s]

In [77]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week6.spacy")

100%|████████████████████████████████████████████████████████████████████████████████| 55/55 [00:00<00:00, 1316.74it/s]

In [78]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week6.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 784.85it/s]

In [79]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values
[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

2022-03-31 12:51:31.979340: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-03-31 12:51:31.979375: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [80]:
!python -m spacy train config.cfg --output ./output

[i] Saving to output directory: output
[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     55.67    0.00    0.00    0.00    0.00
  3     200        689.17   1322.85   90.00   90.00   90.00    0.90
  7     400      10584.17    158.76   80.00   80.00   80.00    0.80
 10     600          6.99     10.49   90.00   90.00   90.00    0.90
 14     800         21.11      9.55   90.00   90.00   90.00    0.90
 18    1000         21.74     15.63   90.00   90.00   90.00    0.90
 21    1200         26.59     10.69   90.00   90.00   90.00    0.90
 25    1400          0.00      0.00  100.00  100.00  100.00    1.00
 29    1600          0.09      0.02   95.24   90.91  100.00    0.95
 32    1800         23.34      5.88   78.26   69.23   90.00    0.78
 36    2000         89.43     22.30  100.00  100.00  100.00    1.00
 40    2200        774.76     50.24   94.74  100.00   90.00    0.95
 43    2400         13.96      3.89  100.00  100.00  100.00    1.00
 47    2600          0.00      0.00  100.00  100.00  100.00    1.00
 50    2800          0.00      0.00  100.00  100.00  100.00    1.00
 54    3000          0.00      0.00  100.00  100.00  100.00    1.00
[+] Saved pipeline to output directory
output\model-last

2022-03-31 12:51:36.194998: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-03-31 12:51:36.195062: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[2022-03-31 12:51:39,558] [INFO] Set up nlp object from config
[2022-03-31 12:51:39,565] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-31 12:51:39,567] [INFO] Created vocabulary
[2022-03-31 12:51:39,568] [INFO] Finished initializing nlp object
[2022-03-31 12:51:39,923] [INFO] Initialized pipeline components: ['tok2vec', 'ner']