In [1]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [61]:
import os
os.getcwd()

'C:\\Users\\preet\\Desktop\\CAPstone\\Feature 11'

In [2]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
features = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\features.csv")
patient_notes = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\patient_notes.csv")

In [3]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [4]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [5]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [6]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [7]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [76]:
#train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

**test : 1146,188,831,2425,2430**

In [9]:
new_train = train_data[(train_data.feature_num == 11)][['pn_num','annotation',"location","feature_num"]]

In [10]:
new_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [11]:
new_train.head()

    pn_num       annotation   location  feature_num
11      16         ['17yo']    ['5 9']           11
24      41       ['17 Y/O']    ['0 6']           11
37      46         ['17yo']  ['19 23']           11
50      82        ['17 yo']    ['0 5']           11
63     100  ['17 year old']  ['46 57']           11

In [12]:
new_train.shape

(100, 4)

#### Removing all [ ] or null columns

In [13]:
new_train = new_train[new_train.annotation != '[]']

In [14]:
new_train.shape

(97, 4)

**Removing all [ & ] in strings**

In [15]:
new_train["annotation"] = new_train.annotation.str.replace('[','')
new_train["annotation"] = new_train.annotation.str.replace(']','')
new_train["location"] = new_train.location.str.replace('[','')
new_train["location"] = new_train.location.str.replace(']','')

In [16]:
new_train.head()

    pn_num     annotation location  feature_num
11      16         '17yo'    '5 9'           11
24      41       '17 Y/O'    '0 6'           11
37      46         '17yo'  '19 23'           11
50      82        '17 yo'    '0 5'           11
63     100  '17 year old'  '46 57'           11

In [17]:
for  index,row in new_train.iterrows():
    if ',' in row["annotation"]:
        print(row["annotation"],index)

#### special row in which data was stored incorrectly need to correct it

In [75]:
#new_train.loc[new_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [74]:
#new_train[new_train.pn_num == 1581][0:1].annotation

**splitting locations and annotations**

In [20]:
new_train = (new_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(new_train.columns, axis=1))

In [73]:
#new_train.loc[new_train.pn_num == 2436]

**Creating two new columns "start location" and "end location"**

In [22]:
new_train["start_location"] = new_train["location"].apply(lambda x: x.split()[0][1:])
new_train["end_location"] = new_train["location"].apply(lambda x: x.split()[-1][:-1])

In [23]:
new_train.head()

   pn_num     annotation location  feature_num start_location end_location
0      16         '17yo'    '5 9'           11              5            9
1      41       '17 Y/O'    '0 6'           11              0            6
2      46         '17yo'  '19 23'           11             19           23
3      82        '17 yo'    '0 5'           11              0            5
4     100  '17 year old'  '46 57'           11             46           57

In [24]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in new_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [25]:
print(row_index)

[]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [65]:
#new_train.iloc[45:47,]   # 45

In [66]:
#np.array(patient_notes.pn_history[patient_notes.pn_num == 82])[0][126:151]

In [67]:
#new_train.iloc[73:75,]   #73

In [68]:
#new_train.iloc[84:86,] # 84

In [69]:
#np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

In [70]:
#new_train.iloc[104:106,] # 104

In [71]:
#np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

In [72]:
#new_train.iloc[293:295,] # 104

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [34]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in new_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= new_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= new_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [35]:
len(drop_index)

0

In [36]:
print(drop_index)

[]

#### Dropping the unwanted indexes

In [37]:
new_train = new_train.drop(drop_index,axis=0)

In [64]:
#new_train.loc[(new_train.end_location == '141')]

In [ ]:
#new_train.loc[(new_train.end_location == '141')]

In [ ]:
#new_train.loc[(new_train.pn_num == 2428)]

In [42]:
#new_train = new_train.drop(1123,axis = 0)

**Finding unique patient numbers in the train dataset**

In [40]:
pn_Num_list = list(new_train.pn_num.unique())

In [41]:
print(pn_Num_list)

[16, 41, 46, 82, 100, 161, 188, 211, 224, 225, 234, 331, 352, 372, 390, 426, 464, 489, 495, 510, 575, 583, 585, 625, 653, 669, 673, 699, 701, 719, 768, 769, 777, 796, 804, 810, 816, 817, 821, 831, 861, 883, 970, 987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173, 1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430, 2436]

In [42]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in new_train[new_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [44]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week5.json", "w") as outfile:
    outfile.write(json_object)

In [45]:
import json
 
# Opening JSON file
f = open("sample_Week5.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [50]:
len(data)

95

In [47]:
train = data[:75]
validation = data[75:]

In [48]:
len(train),len(validation)

(75, 22)

In [49]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [50]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [51]:
create_training(train)

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 117.64it/s]

Skipping entity
Skipping entity

In [77]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week5_feature11.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 169.05it/s]

Skipping entity
Skipping entity

In [78]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week5_feature11.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 22/22 [00:00<00:00, 399.01it/s]

In [79]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values

2022-03-31 13:06:08.000138: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-03-31 13:06:08.000193: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [80]:
!python -m spacy train config.cfg --output ./output

[i] Saving to output directory: output
[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     70.33    0.50    0.25   18.18    0.00
  2     200      13660.08   2563.80   93.02   95.24   90.91    0.93
  5     400          8.22     18.22   93.02   95.24   90.91    0.93
  8     600          0.67      1.06   95.45   95.45   95.45    0.95
 10     800          0.00      0.00   95.45   95.45   95.45    0.95
 13    1000          0.00      0.00   95.45   95.45   95.45    0.95
 16    1200          0.00      0.00   95.45   95.45   95.45    0.95
 18    1400          0.00      0.00   95.45   95.45   95.45    0.95
 21    1600          0.00      0.00   95.45   95.45   95.45    0.95
 24    1800          0.00      0.00   95.45   95.45   95.45    0.95
 26    2000          0.00      0.00   93.02   95.24   90.91    0.93
 29    2200          0.00      0.00   93.02   95.24   90.91    0.93
[+] Saved pipeline to output directory
output\model-last

2022-03-31 13:06:43.608859: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.dll not found
2022-03-31 13:06:43.609074: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
[2022-03-31 13:06:54,351] [INFO] Set up nlp object from config
[2022-03-31 13:06:54,367] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-31 13:06:54,382] [INFO] Created vocabulary
[2022-03-31 13:06:54,382] [INFO] Finished initializing nlp object
[2022-03-31 13:06:55,775] [INFO] Initialized pipeline components: ['tok2vec', 'ner']