In [1]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [2]:
train_data = pd.read_csv("C:\\Users\\llohi\\OneDrive\\Desktop\\CAP_Stone\\train.csv")
features = pd.read_csv("C:\\Users\\llohi\\OneDrive\\Desktop\\CAP_Stone\\features.csv")
patient_notes = pd.read_csv("C:\\Users\\llohi\\OneDrive\\Desktop\\CAP_Stone\\patient_notes.csv")

In [3]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [4]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [5]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [6]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [7]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [15]:
train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

,id,case_num,pn_num,feature_num,annotation,location
1248,02425_000,0,2425,0,[],[]
1249,02425_001,0,2425,1,['Mother hx of thyroid disease'],['594 622']
1250,02425_002,0,2425,2,[],[]
1251,02425_003,0,2425,3,['5-7 episodes'],['64 76']
1252,02425_004,0,2425,4,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1254,02425_006,0,2425,6,[],[]
1255,02425_007,0,2425,7,['SOB'],['330 333']
1256,02425_008,0,2425,8,[],[]
1257,02425_009,0,2425,9,['palpitation'],['9 20']
1258,02425_010,0,2425,10,['Started 3 months ago'],['24 44']
1259,02425_011,0,2425,11,['17 yo'],['0 5']
1260,02425_012,0,2425,12,[],[]

**test : 1146,188,831,2425,2430**

In [24]:
new_train = train_data[(train_data.case_num == 0)&(train_data.pn_num != 1146)&(train_data.pn_num != 188)&(train_data.pn_num != 831)&(train_data.pn_num != 2425)&(train_data.pn_num != 2430)][['pn_num','annotation',"location","feature_num"]]

In [26]:
new_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  211,  224,  225,  234,  331,
        344,  352,  372,  390,  426,  464,  489,  495,  510,  575,  583,
        585,  625,  653,  669,  673,  699,  701,  719,  768,  769,  777,
        796,  804,  810,  816,  817,  821,  861,  883,  970,  977,  987,
       1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209,
       1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587,
       1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847,
       1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223,
       2271, 2285, 2290, 2308, 2315, 2428, 2436], dtype=int64)

In [27]:
new_train.head()

,pn_num,annotation,location,feature_num
0,16,['dad with recent heart attcak'],['696 724'],0
1,16,"['mom with ""thyroid disease']",['668 693'],1
2,16,['chest pressure'],['203 217'],2
3,16,"['intermittent episodes', 'episode']","['70 91', '176 183']",3
4,16,['felt as if he were going to pass out'],['222 258'],4

In [28]:
new_train.shape

(1235, 4)

#### Removing all [ ] or null columns

In [29]:
new_train = new_train[new_train.annotation != '[]']

In [30]:
new_train.shape

(948, 4)

**Removing all [ & ] in strings**

In [42]:
new_train["annotation"] = new_train.annotation.str.replace('[','')
new_train["annotation"] = new_train.annotation.str.replace(']','')
new_train["location"] = new_train.location.str.replace('[','')
new_train["location"] = new_train.location.str.replace(']','')

In [32]:
new_train.head()

,pn_num,annotation,location,feature_num
0,16,'dad with recent heart attcak','696 724',0
1,16,"'mom with ""thyroid disease'",'668 693',1
2,16,'chest pressure','203 217',2
3,16,"'intermittent episodes', 'episode'","'70 91', '176 183'",3
4,16,'felt as if he were going to pass out','222 258',4

#### special row in which data was stored incorrectly need to correct it

In [40]:
new_train.loc[new_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [43]:
new_train[new_train.pn_num == 1581][0:1].annotation

871    'dad  heart attack'
Name: annotation, dtype: object

**splitting locations and annotations**

In [44]:
new_train = (new_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(new_train.columns, axis=1))

In [45]:
new_train.loc[new_train.pn_num == 2436]

      pn_num                    annotation    location  feature_num
1131    2436                   'Father MI'   '915 924'            0
1132    2436   'father had a heart attack'   '545 570'            0
1133    2436       'Mother thyroid issues'   '893 914'            1
1134    2436                     'adderal'   '603 610'            6
1135    2436         'shortness of breath'   '371 390'            7
1136    2436          'chest palpitations'     '71 89'            9
1137    2436          'chest palpitations'   '109 127'            9
1138    2436                   '2-3 month'     '50 59'           10
1139    2436                 '17 year old'     '26 37'           11
1140    2436                        'male'     '38 42'           12

**Creating two new columns "start location" and "end location"**

In [46]:
new_train["start_location"] = new_train["location"].apply(lambda x: x.split()[0][1:])
new_train["end_location"] = new_train["location"].apply(lambda x: x.split()[-1][:-1])

In [47]:
new_train.head()

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'dad with recent heart attcak','696 724',0,696,724
1,16,"'mom with ""thyroid disease'",'668 693',1,668,693
2,16,'chest pressure','203 217',2,203,217
3,16,'intermittent episodes','70 91',3,70,91
4,16,'episode','176 183',3,176,183

In [139]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in new_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [140]:
print(row_index)

[46, 74, 85, 105, 148, 162, 234, 237, 253, 294, 300, 315, 338, 500, 524, 578, 653, 696, 798, 824, 871, 873, 911, 1033, 1081, 1082]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [84]:
new_train.iloc[45:47,]   # 45

,pn_num,annotation,location,feature_num,start_location,end_location
45,82,'heart racing','126 138',9,126,138
46,82,'heart pounding','126 131;143 151',9,126,151

In [88]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 82])[0][126:151]

'heart racing and pounding'

In [89]:
new_train.iloc[73:75,]   #73

,pn_num,annotation,location,feature_num,start_location,end_location
73,211,'thyroid problem','665 680',1,665,680
74,211,'Mother has a thyroid problem','652 680',1,652,680

In [90]:
new_train.iloc[84:86,] # 84

,pn_num,annotation,location,feature_num,start_location,end_location
84,211,'heart is pounding','161 178',9,161,178
85,211,'heart is fast','161 169;179 183',9,161,183

In [91]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

'heart is pounding fast'

In [92]:
new_train.iloc[104:106,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
104,225,'drinks coffee','461 467;483 489',8,461,489
105,225,'drinks energy drinks','461 467;506 519',8,461,519

In [93]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [130]:
new_train.iloc[293:295,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
293,653,'denies heat/cold intolerance','258 264;335 356',5,258,356
294,653,'denies hair loss','258 264;358 367',5,258,367

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [135]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in new_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= new_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= new_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [137]:
len(drop_index)

26

In [141]:
print(drop_index)

[45, 73, 84, 104, 148, 161, 233, 236, 252, 293, 299, 314, 337, 499, 523, 577, 652, 695, 797, 823, 870, 873, 910, 1033, 1080, 1081]

#### Dropping the unwanted indexes

In [142]:
new_train = new_train.drop(drop_index,axis=0)

In [176]:
new_train.loc[(new_train.end_location == '141')]

,pn_num,annotation,location,feature_num,start_location,end_location
931,1847,'drinks coffee','114 120;135 141',8,114,141
941,1855,'episode','134 141',3,134,141
1077,2285,'5-6 times in the past 3 months','111 141',3,111,141
1082,2285,'past 3 months','128 141',10,128,141

In [177]:
new_train = new_train.drop(1077,axis = 0)

In [179]:
new_train.loc[(new_train.end_location == '141')]

,pn_num,annotation,location,feature_num,start_location,end_location
931,1847,'drinks coffee','114 120;135 141',8,114,141
941,1855,'episode','134 141',3,134,141
1082,2285,'past 3 months','128 141',10,128,141

In [201]:
new_train.loc[(new_train.pn_num == 2428)]

,pn_num,annotation,location,feature_num,start_location,end_location
1120,2428,'father heart attack','589 595;606 618',0,589,618
1121,2428,'mother hyroid problem','551 557;566 580',1,551,580
1122,2428,'chest pressure','161 175',2,161,175
1123,2428,"'felt ike he was going to ""pass out""'",'131 135;182 212',4,131,212
1124,2428,'denies sweating','217 223;224 232',5,217,232
1125,2428,'adderall','456 464',6,456,464
1126,2428,'short of breath','136 151',7,136,151
1127,2428,'palpitations','63 75',9,63,75
1128,2428,'going on for a few months','328 353',10,328,353
1129,2428,'17yo','22 26',11,22,26
1130,2428,'male','27 31',12,27,31

In [202]:
new_train = new_train.drop(1123,axis = 0)

**Finding unique patient numbers in the train dataset**

In [203]:
pn_Num_list = list(new_train.pn_num.unique())

In [204]:
print(pn_Num_list)

[16, 41, 46, 82, 100, 161, 211, 224, 225, 234, 331, 344, 352, 372, 390, 426, 464, 489, 495, 510, 575, 583, 585, 625, 653, 669, 673, 699, 701, 719, 768, 769, 777, 796, 804, 810, 816, 817, 821, 861, 883, 970, 977, 987, 1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2428, 2436]

In [205]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in new_train[new_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [207]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week2.json", "w") as outfile:
    outfile.write(json_object)

In [208]:
import json
 
# Opening JSON file
f = open("sample_Week2.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [210]:
len(data)

95

In [211]:
train = data[:75]
validation = data[75:]

In [212]:
len(train),len(validation)

(75, 20)

In [213]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [214]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [215]:
create_training(train)

100%|| 75/75 [00:00<00:00, 340.77it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [216]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week2.spacy")

100%|| 75/75 [00:00<00:00, 604.55it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [217]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week2.spacy")

100%|| 20/20 [00:00<00:00, 356.09it/s]

Skipping entity
Skipping entity

In [218]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values
[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [219]:
!python -m spacy train config.cfg --output ./output

[+] Created output directory: output
[i] Saving to output directory: output
[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------

[2022-03-18 12:32:28,617] [INFO] Set up nlp object from config
[2022-03-18 12:32:28,640] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-18 12:32:28,647] [INFO] Created vocabulary
[2022-03-18 12:32:28,672] [INFO] Finished initializing nlp object
[2022-03-18 12:32:29,918] [INFO] Initialized pipeline components: ['tok2vec', 'ner']

  0       0          0.00    104.78    0.00    0.00    0.00    0.00
  2     200       7493.32   6479.08   47.59   57.42   40.64    0.48
  5     400       6874.22   3148.56   60.15   64.74   56.16    0.60
  8     600        361.38   1361.91   65.14   65.44   64.84    0.65
 10     800       2500.20   1263.77   66.19   68.63   63.93    0.66
 13    1000        548.54    898.57   65.38   69.59   61.64    0.65
 16    1200        405.70    634.53   67.48   72.63   63.01    0.67
 18    1400        425.59    524.84   63.18   65.84   60.73    0.63
 21    1600        424.41    499.19   64.15   66.34   62.10    0.64
 24    1800       1121.34    390.32   64.49   66.03   63.01    0.64
 26    2000        482.87    375.21   64.49   66.03   63.01    0.64
 29    2200       1063.47    335.93   65.27   66.67   63.93    0.65
 32    2400        630.26    336.06   64.79   66.67   63.01    0.65
 34    2600        989.75    297.53   63.70   62.17   65.30    0.64
 37    2800        931.41    254.53   65.38   69.04   62.10    0.65
[+] Saved pipeline to output directory
output\model-last

#### test : 1146,188,831,2425,2430

In [3]:
test = np.array(patient_notes.loc[patient_notes.pn_num ==1146,"pn_history"])[0]
test

'pt 17y/m c/o palpitation since 2-3 months, episodes come and go, last for 3-4 minutes, no precipitating or releiving factors. last episode happened while playing basketball, pt felt chest pressure, and felt like almost passed out. pt has no chest pain, nause or vomitting, no tremors, no heat or cold intolerance, no changes in bladder or bowel habits. no changes in diet or polydypsia pt had changed college 7-8 months back, and has trouble adjusting to it, no rashes. pt has been taking 3-4 cups of coffee every day and red bull 4-5  in a week.\r\nno mood changes, no anxiety or panic attack\r\nROS - nothing significant except as above\r\nallergy - none\r\nmedication - pt takes aderral multiple times, last 2 days ago.\r\nPMH - none\r\nPSH - none\r\nSH - no smoking, occasional marijuana 5month ago, sexually active with girlfriend, uses condom, no STI\r\nFH - father had problems with heart and mother has hyperthyroid \r\n'

In [4]:
nlp = spacy.load("output/model-best")
doc = nlp(test)
for ent in doc.ents:
    print(ent.text, ent.label_,ent.start_char, ent.end_char)

palpitation Feature_3 13 24
since 2-3 months Feature_10 25 41
episodes Feature_3 43 51
chest pressure Feature_2 182 196
felt like almost passed out Feature_4 202 229
coffee Feature_8 501 507
father had problems with heart Feature_0 849 879
mother has hyperthyroid Feature_1 884 907

In [5]:
train_data = pd.read_csv("C:\\Users\\llohi\\OneDrive\\Desktop\\CAP_Stone\\train.csv")
train_data[train_data.pn_num == 1146]

,id,case_num,pn_num,feature_num,annotation,location
650,01146_000,0,1146,0,['father had problems with heart'],['849 879']
651,01146_001,0,1146,1,['mother has hyperthyroid'],['884 907']
652,01146_002,0,1146,2,['chest pressure'],['182 196']
653,01146_003,0,1146,3,['episodes come and go'],['43 63']
654,01146_004,0,1146,4,['felt like almost passed out'],['202 229']
655,01146_005,0,1146,5,"['no heat intolerance', 'no old intolerance']","['285 292;301 312', '285 287;297 312']"
656,01146_006,0,1146,6,['takes aderral'],['668 681']
657,01146_007,0,1146,7,[],[]
658,01146_008,0,1146,8,"['coffee every day', 'taking red bull']","['501 517', '482 488;522 530']"
659,01146_009,0,1146,9,['palpitation'],['13 24']
660,01146_010,0,1146,10,['since 2-3 months'],['25 41']
661,01146_011,0,1146,11,['17y'],['3 6']
662,01146_012,0,1146,12,['m'],['7 8']