In [95]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [96]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
features = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\features.csv")
patient_notes = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\patient_notes.csv")

In [97]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [98]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [99]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [100]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [101]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [102]:
train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

,id,case_num,pn_num,feature_num,annotation,location
1248,02425_000,0,2425,0,[],[]
1249,02425_001,0,2425,1,['Mother hx of thyroid disease'],['594 622']
1250,02425_002,0,2425,2,[],[]
1251,02425_003,0,2425,3,['5-7 episodes'],['64 76']
1252,02425_004,0,2425,4,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1254,02425_006,0,2425,6,[],[]
1255,02425_007,0,2425,7,['SOB'],['330 333']
1256,02425_008,0,2425,8,[],[]
1257,02425_009,0,2425,9,['palpitation'],['9 20']
1258,02425_010,0,2425,10,['Started 3 months ago'],['24 44']
1259,02425_011,0,2425,11,['17 yo'],['0 5']
1260,02425_012,0,2425,12,[],[]

**test : 1146,188,831,2425,2430**

In [103]:
new_train = train_data[(train_data.case_num == 0)&(train_data.pn_num != 1146)&(train_data.pn_num != 188)&(train_data.pn_num != 831)&(train_data.pn_num != 2425)&(train_data.pn_num != 2430)][['pn_num','annotation',"location","feature_num"]]

In [104]:
rand_train = new_train[(new_train.feature_num == 4)|(new_train.feature_num == 5)|(new_train.feature_num == 6)|(new_train.feature_num == 7)|(new_train.feature_num == 8)]

In [105]:
rand_train.head(10)

,pn_num,annotation,location,feature_num
4,16,['felt as if he were going to pass out'],['222 258'],4
5,16,[],[],5
6,16,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']",6
7,16,[],[],7
8,16,[],[],8
17,41,[],[],4
18,41,[],[],5
19,41,[],[],6
20,41,['SOB'],['258 261'],7
21,41,[],[],8

In [106]:
rand_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  211,  224,  225,  234,  331,
        344,  352,  372,  390,  426,  464,  489,  495,  510,  575,  583,
        585,  625,  653,  669,  673,  699,  701,  719,  768,  769,  777,
        796,  804,  810,  816,  817,  821,  861,  883,  970,  977,  987,
       1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209,
       1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587,
       1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847,
       1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223,
       2271, 2285, 2290, 2308, 2315, 2428, 2436], dtype=int64)

In [107]:
rand_train.shape

(475, 4)

#### Removing all [ ] or null columns

In [108]:
rand_train = rand_train[rand_train.annotation != '[]']

In [109]:
rand_train.shape

(267, 4)

**Removing all [ & ] in strings**

In [110]:
rand_train["annotation"] = rand_train.annotation.str.replace('[','')
rand_train["annotation"] = rand_train.annotation.str.replace(']','')
rand_train["location"] = rand_train.location.str.replace('[','')
rand_train["location"] = rand_train.location.str.replace(']','')

In [111]:
rand_train.head()

,pn_num,annotation,location,feature_num
4,16,'felt as if he were going to pass out','222 258',4
6,16,"'adderall', 'adderrall', 'adderrall'","'321 329', '404 413', '652 661'",6
20,41,'SOB','258 261',7
30,46,'light headedness','552 568',4
31,46,'has not had any cold/heat intolerance','582 619',5

#### special row in which data was stored incorrectly need to correct it

In [113]:
rand_train.loc[rand_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [114]:
rand_train[rand_train.pn_num == 1581][0:1].annotation

875    'lightheaded'
Name: annotation, dtype: object

**splitting locations and annotations**

In [115]:
rand_train = (rand_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(rand_train.columns, axis=1))

In [116]:
rand_train.loc[rand_train.pn_num == 2436]

     pn_num             annotation   location  feature_num
334    2436              'adderal'  '603 610'            6
335    2436  'shortness of breath'  '371 390'            7

**Creating two new columns "start location" and "end location"**

In [117]:
rand_train["start_location"] = rand_train["location"].apply(lambda x: x.split()[0][1:])
rand_train["end_location"] = rand_train["location"].apply(lambda x: x.split()[-1][:-1])

In [118]:
rand_train.head()

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'felt as if he were going to pass out','222 258',4,222,258
1,16,'adderall','321 329',6,321,329
2,16,'adderrall','404 413',6,404,413
3,16,'adderrall','652 661',6,652,661
4,41,'SOB','258 261',7,258,261

In [119]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [120]:
print(row_index)

[26, 38, 61, 69, 78, 84, 153, 175, 197, 237, 303]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [40]:
rand_train.iloc[77:79,]   # 45

,pn_num,annotation,location,feature_num,start_location,end_location
77,653,'denies heat/cold intolerance','258 264;335 356',5,258,356
78,653,'denies hair loss','258 264;358 367',5,258,367

In [34]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [29]:
rand_train.iloc[73:75,]   #73

,pn_num,annotation,location,feature_num,start_location,end_location
73,489,'intermittent','120 132',3,120,132
74,495,'Mom has thyroid disease','795 818',1,795,818

In [30]:
rand_train.iloc[84:86,] # 84

,pn_num,annotation,location,feature_num,start_location,end_location
84,575,'father with MI','659 673',0,659,673
85,575,'chest pressure','192 206',2,192,206

In [31]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

'heart is pounding fast'

In [32]:
rand_train.iloc[104:106,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
104,669,'mother thyroid problem','788 810',1,788,810
105,669,'occured 5-6 times','108 125',3,108,125

In [33]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [34]:
rand_train.iloc[293:295,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
293,1809,'father with herat attack','664 688',0,664,688
294,1809,'mom with thyroid problem','638 662',1,638,662

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [121]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= rand_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= rand_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [122]:
len(drop_index)

11

In [123]:
print(drop_index)

[25, 37, 60, 68, 77, 83, 152, 174, 196, 236, 303]

#### Dropping the unwanted indexes

In [124]:
rand_train = rand_train.drop(drop_index,axis=0)

In [126]:
rand_train.loc[(rand_train.end_location == '235')]

,pn_num,annotation,location,feature_num,start_location,end_location
106,777,'lightheadedness','220 235',4,220,235

In [40]:
rand_train = rand_train.drop(353,axis = 0)

In [153]:
rand_train.loc[(rand_train.end_location == '258')]

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'felt as if he were going to pass out','222 258',4,222,258
98,719,'SOB','255 258',7,255,258

In [154]:
rand_train.loc[(rand_train.pn_num == 2428)]

,pn_num,annotation,location,feature_num,start_location,end_location
330,2428,"'felt ike he was going to ""pass out""'",'131 135;182 212',4,131,212
331,2428,'denies sweating','217 223;224 232',5,217,232
332,2428,'adderall','456 464',6,456,464
333,2428,'short of breath','136 151',7,136,151

In [155]:
rand_train = rand_train.drop(330,axis = 0)

**Finding unique patient numbers in the train dataset**

In [156]:
pn_Num_list = list(rand_train.pn_num.unique())

In [157]:
print(pn_Num_list)

[16, 41, 46, 82, 100, 161, 211, 224, 225, 234, 331, 344, 352, 372, 390, 426, 464, 489, 495, 510, 575, 583, 585, 625, 653, 669, 673, 699, 701, 719, 768, 769, 777, 796, 804, 810, 816, 817, 821, 861, 883, 970, 977, 987, 1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2428, 2436]

In [158]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in rand_train[rand_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [160]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week2.json", "w") as outfile:
    outfile.write(json_object)

In [161]:
import json
 
# Opening JSON file
f = open("sample_Week2.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [163]:
len(data)

95

In [164]:
train = data[:75]
validation = data[75:]

In [165]:
len(train),len(validation)

(75, 20)

In [166]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [167]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [169]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week5.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 391.61it/s]

Skipping entity

In [170]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week5.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 260.43it/s]

In [171]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values
[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [172]:
!python -m spacy train config.cfg --output ./output

[+] Created output directory: output
[i] Saving to output directory: output
[i] Using CPU

[2022-03-24 12:12:23,586] [INFO] Set up nlp object from config
[2022-03-24 12:12:23,604] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-24 12:12:23,609] [INFO] Created vocabulary
[2022-03-24 12:12:23,612] [INFO] Finished initializing nlp object
[2022-03-24 12:12:24,691] [INFO] Initialized pipeline components: ['tok2vec', 'ner']

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     94.36    0.00    0.00    0.00    0.00
  2     200       4659.23   3127.56   56.07   66.67   48.39    0.56
  5     400       1102.50    829.63   51.28   54.55   48.39    0.51
  8     600        181.90    473.42   55.05   63.83   48.39    0.55
 10     800       3561.95    416.04   56.88   65.96   50.00    0.57
 13    1000        357.16    260.64   56.60   68.18   48.39    0.57
 16    1200        731.40    238.27   58.72   68.09   51.61    0.59
 18    1400        204.31    162.95   56.67   58.62   54.84    0.57
 21    1600        539.97    131.46   55.86   63.27   50.00    0.56
 24    1800      12310.01    209.68   49.23   47.06   51.61    0.49
 26    2000        167.83     87.39   57.63   60.71   54.84    0.58
 29    2200        383.41     86.96   50.88   55.77   46.77    0.51
 32    2400        249.74     71.92   61.40   67.31   56.45    0.61
 34    2600        161.64     53.68   58.18   66.67   51.61    0.58
 37    2800        134.37     50.51   58.72   68.09   51.61    0.59
 40    3000       2144.92    152.44   58.93   66.00   53.23    0.59
 42    3200      13682.27     76.32   57.94   68.89   50.00    0.58
 45    3400        762.37     64.19   60.18   66.67   54.84    0.60
 48    3600        483.56     60.89   58.62   62.96   54.84    0.59
 50    3800        284.42     51.41   60.18   66.67   54.84    0.60
 55    4000         35.15      6.40   56.64   62.75   51.61    0.57
[+] Saved pipeline to output directory
output\model-last

In [1]:
import os

In [4]:
os.getcwd()

'C:\\Users\\preet\\Desktop\\CAPstone\\week 3 - copy1'

In [3]:
os.chdir('C:\\Users\\preet\\Desktop\\CAPstone\\week 3 - copy1')

#### test : 1146,188,831,2425,2430

In [173]:
test = np.array(patient_notes.loc[patient_notes.pn_num ==2430,"pn_history"])[0]
test

"Mr. Cleveland is a 17 yo male who presents with a chief complaint of heart pounding. Patient has experienced this sensation for the past 2-3 months, 5-6 times total, roughly 2x/month. The last episode was 2 days ago while playing basketball. Patient describes heart racing, pressure, shortness of breath, and light headedness. Episodes have occured variably, some while exercising, some while resting. He reports the use of a friend's adderall roughly 2x/week for the past 7 months to help with concenctration. He also endorses drinking 3-4 cups of coffee/day and energy drinks as well. Patient is a freshman in collee, sexually active with his long term girlfriend, uses condoms, but denies use of tobacco products and ilicit drugs. He reports drinking 3-4 alcholoic drinks on weekends. Family hx is positive for thyroid dx in his mother and a MI in his father. He has no significiant medical/surgical hx. No allergies or weight/appetite changes."

In [174]:
nlp = spacy.load("output/model-best")
doc = nlp(test)
for ent in doc.ents:
    print(ent.text, ent.label_,ent.start_char, ent.end_char)

shortness of breath Feature_7 284 303
light headedness Feature_4 309 325
adderall Feature_6 435 443
coffee Feature_8 549 555
energy drinks Feature_8 564 577

In [175]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
train_data[train_data.pn_num == 2430]

,id,case_num,pn_num,feature_num,annotation,location
1274,02430_000,0,2430,0,['MI father'],['845 847;855 861']
1275,02430_001,0,2430,1,['thyroid dx mother'],['814 824;832 838']
1276,02430_002,0,2430,2,['pressure'],['274 282']
1277,02430_003,0,2430,3,"['5-6 times', 'Episodes']","['149 158', '327 335']"
1278,02430_004,0,2430,4,['light headedness'],['309 325']
1279,02430_005,0,2430,5,[],[]
1280,02430_006,0,2430,6,['adderall'],['435 443']
1281,02430_007,0,2430,7,['shortness of breath'],['284 303']
1282,02430_008,0,2430,8,"['drinking coffee', 'drinking energy drinks']","['528 536;549 555', '528 536;564 577']"
1283,02430_009,0,2430,9,"['heart pounding', 'heart racing']","['69 83', '260 272']"
1284,02430_010,0,2430,10,['for the past 2-3 months'],['124 147']
1285,02430_011,0,2430,11,['17 yo'],['19 24']
1286,02430_012,0,2430,12,['male'],['25 29']