In [1]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [98]:
import os
os.getcwd()
os.chdir('C:\\Users\\preet\\Desktop\\CAPstone\\week 3 - random')

In [99]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
features = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\features.csv")
patient_notes = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\patient_notes.csv")

In [3]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [4]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [5]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [6]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [7]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [8]:
train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

,id,case_num,pn_num,feature_num,annotation,location
1248,02425_000,0,2425,0,[],[]
1249,02425_001,0,2425,1,['Mother hx of thyroid disease'],['594 622']
1250,02425_002,0,2425,2,[],[]
1251,02425_003,0,2425,3,['5-7 episodes'],['64 76']
1252,02425_004,0,2425,4,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1254,02425_006,0,2425,6,[],[]
1255,02425_007,0,2425,7,['SOB'],['330 333']
1256,02425_008,0,2425,8,[],[]
1257,02425_009,0,2425,9,['palpitation'],['9 20']
1258,02425_010,0,2425,10,['Started 3 months ago'],['24 44']
1259,02425_011,0,2425,11,['17 yo'],['0 5']
1260,02425_012,0,2425,12,[],[]

**test : 1146,188,831,2425,2430**

In [9]:
new_train = train_data[(train_data.case_num == 0)&(train_data.pn_num != 1146)&(train_data.pn_num != 188)&(train_data.pn_num != 831)&(train_data.pn_num != 2425)&(train_data.pn_num != 2430)][['pn_num','annotation',"location","feature_num"]]

In [55]:
import random
numbers = random.sample(range(10), 5)

In [56]:
numbers

[5, 8, 6, 7, 2]

In [57]:
rand_train = new_train[(new_train.feature_num == numbers[0])|(new_train.feature_num == numbers[1])|(new_train.feature_num == numbers[2])|(new_train.feature_num == numbers[3])|(new_train.feature_num == numbers[4])]

In [58]:
rand_train.head(10)

,pn_num,annotation,location,feature_num
2,16,['chest pressure'],['203 217'],2
5,16,[],[],5
6,16,"['adderall', 'adderrall', 'adderrall']","['321 329', '404 413', '652 661']",6
7,16,[],[],7
8,16,[],[],8
15,41,['PRESSURE ON HER CHEST'],['263 284'],2
18,41,[],[],5
19,41,[],[],6
20,41,['SOB'],['258 261'],7
21,41,[],[],8

In [59]:
rand_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  211,  224,  225,  234,  331,
        344,  352,  372,  390,  426,  464,  489,  495,  510,  575,  583,
        585,  625,  653,  669,  673,  699,  701,  719,  768,  769,  777,
        796,  804,  810,  816,  817,  821,  861,  883,  970,  977,  987,
       1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209,
       1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587,
       1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847,
       1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223,
       2271, 2285, 2290, 2308, 2315, 2428, 2436], dtype=int64)

In [60]:
rand_train.shape

(475, 4)

#### Removing all [ ] or null columns

In [61]:
rand_train = rand_train[rand_train.annotation != '[]']

In [62]:
rand_train.shape

(284, 4)

**Removing all [ & ] in strings**

In [63]:
rand_train["annotation"] = rand_train.annotation.str.replace('[','')
rand_train["annotation"] = rand_train.annotation.str.replace(']','')
rand_train["location"] = rand_train.location.str.replace('[','')
rand_train["location"] = rand_train.location.str.replace(']','')

In [64]:
rand_train.head()

,pn_num,annotation,location,feature_num
2,16,'chest pressure','203 217',2
6,16,"'adderall', 'adderrall', 'adderrall'","'321 329', '404 413', '652 661'",6
15,41,'PRESSURE ON HER CHEST','263 284',2
20,41,'SOB','258 261',7
31,46,'has not had any cold/heat intolerance','582 619',5

#### special row in which data was stored incorrectly need to correct it

In [66]:
rand_train.loc[rand_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [67]:
rand_train[rand_train.pn_num == 1581][0:1].annotation

873    'pressure in the middle of his chest'
Name: annotation, dtype: object

**splitting locations and annotations**

In [68]:
rand_train = (rand_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(rand_train.columns, axis=1))

In [69]:
rand_train.loc[rand_train.pn_num == 2436]

     pn_num             annotation   location  feature_num
354    2436              'adderal'  '603 610'            6
355    2436  'shortness of breath'  '371 390'            7

**Creating two new columns "start location" and "end location"**

In [70]:
rand_train["start_location"] = rand_train["location"].apply(lambda x: x.split()[0][1:])
rand_train["end_location"] = rand_train["location"].apply(lambda x: x.split()[-1][:-1])

In [71]:
rand_train.head()

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'chest pressure','203 217',2,203,217
1,16,'adderall','321 329',6,321,329
2,16,'adderrall','404 413',6,404,413
3,16,'adderrall','652 661',6,652,661
4,41,'PRESSURE ON HER CHEST','263 284',2,263,284

In [72]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [73]:
print(row_index)

[26, 41, 66, 68, 76, 88, 94, 165, 185, 207, 251, 323]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [88]:
rand_train.iloc[81:83,]   # 45

,pn_num,annotation,location,feature_num,start_location,end_location
84,575,'father with MI','659 673',0,659,673
85,575,'chest pressure','192 206',2,192,206

In [28]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 82])[0][126:151]

'heart racing and pounding'

In [29]:
rand_train.iloc[73:75,]   #73

,pn_num,annotation,location,feature_num,start_location,end_location
73,489,'intermittent','120 132',3,120,132
74,495,'Mom has thyroid disease','795 818',1,795,818

In [30]:
rand_train.iloc[84:86,] # 84

,pn_num,annotation,location,feature_num,start_location,end_location
84,575,'father with MI','659 673',0,659,673
85,575,'chest pressure','192 206',2,192,206

In [31]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

'heart is pounding fast'

In [32]:
rand_train.iloc[104:106,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
104,669,'mother thyroid problem','788 810',1,788,810
105,669,'occured 5-6 times','108 125',3,108,125

In [33]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [34]:
rand_train.iloc[293:295,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
293,1809,'father with herat attack','664 688',0,664,688
294,1809,'mom with thyroid problem','638 662',1,638,662

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [74]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= rand_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= rand_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [75]:
len(drop_index)

12

In [76]:
print(drop_index)

[25, 40, 65, 67, 75, 87, 93, 164, 184, 206, 250, 323]

#### Dropping the unwanted indexes

In [77]:
rand_train = rand_train.drop(drop_index,axis=0)

In [90]:
rand_train.loc[(rand_train.end_location == '141')]

     pn_num  annotation    location  feature_num start_location end_location
309    1855   'episode'   '134 141'            3            134          141

In [40]:
rand_train = rand_train.drop(353,axis = 0)

In [41]:
rand_train.loc[(rand_train.end_location == '141')]

     pn_num  annotation    location  feature_num start_location end_location
309    1855   'episode'   '134 141'            3            134          141

In [42]:
rand_train.loc[(rand_train.pn_num == 2428)]

,pn_num,annotation,location,feature_num,start_location,end_location
368,2428,'father heart attack','589 595;606 618',0,589,618
369,2428,'mother hyroid problem','551 557;566 580',1,551,580
370,2428,'chest pressure','161 175',2,161,175

In [43]:
# rand_train = rand_train.drop(1123,axis = 0)

**Finding unique patient numbers in the train dataset**

In [78]:
pn_Num_list = list(rand_train.pn_num.unique())

In [79]:
print(pn_Num_list)

[16, 41, 46, 82, 100, 161, 211, 224, 225, 234, 331, 344, 352, 372, 390, 426, 464, 489, 495, 510, 575, 583, 585, 625, 653, 669, 673, 699, 701, 719, 768, 769, 777, 796, 804, 810, 816, 817, 821, 861, 883, 970, 977, 987, 1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2428, 2436]

In [80]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in rand_train[rand_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [100]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week2.json", "w") as outfile:
    outfile.write(json_object)

In [101]:
import json
 
# Opening JSON file
f = open("sample_Week2.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [85]:
len(data)

95

In [86]:
train = data[:75]
validation = data[75:]

In [87]:
len(train),len(validation)

(75, 20)

In [88]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [103]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [104]:
create_training(train)

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 174.06it/s]

Skipping entity

In [105]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week3_random1.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 338.74it/s]

Skipping entity

In [106]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week3_random1.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 244.55it/s]

In [109]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values
[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [110]:
!python -m spacy train config.cfg --output ./output

[i] Saving to output directory: output
[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     94.86    0.00    0.00    0.00    0.00
  2     200       7179.35   3163.24   60.50   72.00   52.17    0.61
  5     400       4526.40   1162.34   62.02   66.67   57.97    0.62
  8     600      15822.50    678.00   61.79   70.37   55.07    0.62
 10     800       2912.92    518.49   61.42   67.24   56.52    0.61
 13    1000        225.56    231.26   59.20   66.07   53.62    0.59
 16    1200       4099.16    238.42   59.70   61.54   57.97    0.60
 18    1400       5496.16    230.19   60.94   66.10   56.52    0.61
 21    1600        195.73    145.51   61.42   67.24   56.52    0.61
 24    1800        410.45    147.97   65.65   69.35   62.32    0.66
 26    2000       3882.71    179.55   59.84   65.52   55.07    0.60
 29    2200        307.00     70.47   57.14   59.38   55.07    0.57
 32    2400        115.66     62.38   66.67   71.67   62.32    0.67
 34    2600       1018.26     85.80   62.12   65.08   59.42    0.62
 37    2800        171.62     48.24   57.14   63.16   52.17    0.57
 40    3000        470.43     44.49   61.54   65.57   57.97    0.62
 42    3200       2998.73     93.62   55.38   59.02   52.17    0.55
 45    3400        228.79     66.11   59.20   66.07   53.62    0.59
 48    3600      21684.76     78.82   59.09   61.90   56.52    0.59
 50    3800        295.43     61.80   55.12   60.34   50.72    0.55
 55    4000        178.39     32.87   62.02   66.67   57.97    0.62
[+] Saved pipeline to output directory
output\model-last

[2022-03-24 13:11:53,227] [INFO] Set up nlp object from config
[2022-03-24 13:11:53,247] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-24 13:11:53,253] [INFO] Created vocabulary
[2022-03-24 13:11:53,255] [INFO] Finished initializing nlp object
[2022-03-24 13:11:54,146] [INFO] Initialized pipeline components: ['tok2vec', 'ner']

#### test : 1146,188,831,2425,2430

In [81]:
test = np.array(patient_notes.loc[patient_notes.pn_num ==2430,"pn_history"])[0]
test

"Mr. Cleveland is a 17 yo male who presents with a chief complaint of heart pounding. Patient has experienced this sensation for the past 2-3 months, 5-6 times total, roughly 2x/month. The last episode was 2 days ago while playing basketball. Patient describes heart racing, pressure, shortness of breath, and light headedness. Episodes have occured variably, some while exercising, some while resting. He reports the use of a friend's adderall roughly 2x/week for the past 7 months to help with concenctration. He also endorses drinking 3-4 cups of coffee/day and energy drinks as well. Patient is a freshman in collee, sexually active with his long term girlfriend, uses condoms, but denies use of tobacco products and ilicit drugs. He reports drinking 3-4 alcholoic drinks on weekends. Family hx is positive for thyroid dx in his mother and a MI in his father. He has no significiant medical/surgical hx. No allergies or weight/appetite changes."

In [84]:
nlp = spacy.load("output/model-best")
doc = nlp(test)
for ent in doc.ents:
    print(ent.text, ent.label_,ent.start_char, ent.end_char)

5-6 times Feature_3 149 158
episode Feature_3 193 200
pressure Feature_3 274 282
MI in his father Feature_0 845 861

In [85]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
train_data[train_data.pn_num == 2430]

,id,case_num,pn_num,feature_num,annotation,location
1274,02430_000,0,2430,0,['MI father'],['845 847;855 861']
1275,02430_001,0,2430,1,['thyroid dx mother'],['814 824;832 838']
1276,02430_002,0,2430,2,['pressure'],['274 282']
1277,02430_003,0,2430,3,"['5-6 times', 'Episodes']","['149 158', '327 335']"
1278,02430_004,0,2430,4,['light headedness'],['309 325']
1279,02430_005,0,2430,5,[],[]
1280,02430_006,0,2430,6,['adderall'],['435 443']
1281,02430_007,0,2430,7,['shortness of breath'],['284 303']
1282,02430_008,0,2430,8,"['drinking coffee', 'drinking energy drinks']","['528 536;549 555', '528 536;564 577']"
1283,02430_009,0,2430,9,"['heart pounding', 'heart racing']","['69 83', '260 272']"
1284,02430_010,0,2430,10,['for the past 2-3 months'],['124 147']
1285,02430_011,0,2430,11,['17 yo'],['19 24']
1286,02430_012,0,2430,12,['male'],['25 29']