In [1]:
import pandas as pd
import numpy as np
import json
import warnings
import spacy
warnings.filterwarnings("ignore")
import random

In [3]:
import os
os.getcwd()
os.chdir('C:\\Users\\preet\\Desktop\\CAPstone\\week 3 - copy2')

In [4]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
features = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\features.csv")
patient_notes = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\patient_notes.csv")

In [5]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [6]:
features.head()

   feature_num  case_num                                       feature_text
0            0         0  Family-history-of-MI-OR-Family-history-of-myoc...
1            1         0                 Family-history-of-thyroid-disorder
2            2         0                                     Chest-pressure
3            3         0                              Intermittent-symptoms
4            4         0                                        Lightheaded

In [7]:
patient_notes.head()

   pn_num  case_num                                         pn_history
0       0         0  17-year-old male, has come to the student heal...
1       1         0  17 yo male with recurrent palpitations for the...
2       2         0  Dillon Cleveland is a 17 y.o. male patient wit...
3       3         0  a 17 yo m c/o palpitation started 3 mos ago; \...
4       4         0  17yo male with no pmh here for evaluation of p...

In [8]:
train_data.head()

,id,case_num,pn_num,feature_num,annotation,location
0,00016_000,0,16,0,['dad with recent heart attcak'],['696 724']
1,00016_001,0,16,1,"['mom with ""thyroid disease']",['668 693']
2,00016_002,0,16,2,['chest pressure'],['203 217']
3,00016_003,0,16,3,"['intermittent episodes', 'episode']","['70 91', '176 183']"
4,00016_004,0,16,4,['felt as if he were going to pass out'],['222 258']

In [9]:
train_data[(train_data.case_num == 0)].pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  188,  211,  224,  225,  234,
        331,  344,  352,  372,  390,  426,  464,  489,  495,  510,  575,
        583,  585,  625,  653,  669,  673,  699,  701,  719,  768,  769,
        777,  796,  804,  810,  816,  817,  821,  831,  861,  883,  970,
        977,  987, 1010, 1110, 1115, 1133, 1146, 1149, 1151, 1165, 1173,
       1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512,
       1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742,
       1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184,
       2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2425, 2428, 2430,
       2436], dtype=int64)

In [10]:
train_data[(train_data.case_num == 0)&(train_data.pn_num == 2425)]

,id,case_num,pn_num,feature_num,annotation,location
1248,02425_000,0,2425,0,[],[]
1249,02425_001,0,2425,1,['Mother hx of thyroid disease'],['594 622']
1250,02425_002,0,2425,2,[],[]
1251,02425_003,0,2425,3,['5-7 episodes'],['64 76']
1252,02425_004,0,2425,4,[],[]
1253,02425_005,0,2425,5,['no heat intolerance'],['380 399']
1254,02425_006,0,2425,6,[],[]
1255,02425_007,0,2425,7,['SOB'],['330 333']
1256,02425_008,0,2425,8,[],[]
1257,02425_009,0,2425,9,['palpitation'],['9 20']
1258,02425_010,0,2425,10,['Started 3 months ago'],['24 44']
1259,02425_011,0,2425,11,['17 yo'],['0 5']
1260,02425_012,0,2425,12,[],[]

**test : 1146,188,831,2425,2430**

In [11]:
new_train = train_data[(train_data.case_num == 0)&(train_data.pn_num != 1146)&(train_data.pn_num != 188)&(train_data.pn_num != 831)&(train_data.pn_num != 2425)&(train_data.pn_num != 2430)][['pn_num','annotation',"location","feature_num"]]

In [12]:
rand_train = new_train[(new_train.feature_num == 9)|(new_train.feature_num == 10)|(new_train.feature_num == 11)|(new_train.feature_num == 12)]

In [13]:
rand_train.head(10)

,pn_num,annotation,location,feature_num
9,16,"['palpitations', 'heart beating/pounding']","['26 38', '96 118']",9
10,16,['3-4 months of'],['56 69'],10
11,16,['17yo'],['5 9'],11
12,16,['M'],['10 11'],12
22,41,['HEART POUNDING'],['32 46'],9
23,41,['STARTED 2-3 MO AGO'],['48 66'],10
24,41,['17 Y/O'],['0 6'],11
25,41,['M'],['7 8'],12
35,46,"['palpitations', 'palpitations', 'palpitations']","['146 158', '436 448', '478 490']",9
36,46,['for 2-3 months'],['197 211'],10

In [14]:
rand_train.pn_num.unique()

array([  16,   41,   46,   82,  100,  161,  211,  224,  225,  234,  331,
        344,  352,  372,  390,  426,  464,  489,  495,  510,  575,  583,
        585,  625,  653,  669,  673,  699,  701,  719,  768,  769,  777,
        796,  804,  810,  816,  817,  821,  861,  883,  970,  977,  987,
       1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209,
       1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587,
       1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847,
       1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223,
       2271, 2285, 2290, 2308, 2315, 2428, 2436], dtype=int64)

In [15]:
rand_train.shape

(380, 4)

#### Removing all [ ] or null columns

In [16]:
rand_train = rand_train[rand_train.annotation != '[]']

In [17]:
rand_train.shape

(364, 4)

**Removing all [ & ] in strings**

In [18]:
rand_train["annotation"] = rand_train.annotation.str.replace('[','')
rand_train["annotation"] = rand_train.annotation.str.replace(']','')
rand_train["location"] = rand_train.location.str.replace('[','')
rand_train["location"] = rand_train.location.str.replace(']','')

In [19]:
rand_train.head()

,pn_num,annotation,location,feature_num
9,16,"'palpitations', 'heart beating/pounding'","'26 38', '96 118'",9
10,16,'3-4 months of','56 69',10
11,16,'17yo','5 9',11
12,16,'M','10 11',12
22,41,'HEART POUNDING','32 46',9

#### special row in which data was stored incorrectly need to correct it

In [21]:
rand_train.loc[rand_train.location == "'883 900'",'annotation'] = "'dad  heart attack'"

In [22]:
rand_train[rand_train.pn_num == 1581][0:1].annotation

880    'heart pounding', 'heart is bearting really fa...
Name: annotation, dtype: object

**splitting locations and annotations**

In [23]:
rand_train = (rand_train.set_index(['pn_num',"feature_num"]) 
   .apply(lambda col: col.str.split(',').explode())
   .reset_index()
   .reindex(rand_train.columns, axis=1))

In [24]:
rand_train.loc[rand_train.pn_num == 2436]

     pn_num             annotation    location  feature_num
426    2436   'chest palpitations'     '71 89'            9
427    2436   'chest palpitations'   '109 127'            9
428    2436            '2-3 month'     '50 59'           10
429    2436          '17 year old'     '26 37'           11
430    2436                 'male'     '38 42'           12

**Creating two new columns "start location" and "end location"**

In [25]:
rand_train["start_location"] = rand_train["location"].apply(lambda x: x.split()[0][1:])
rand_train["end_location"] = rand_train["location"].apply(lambda x: x.split()[-1][:-1])

In [26]:
rand_train.head()

,pn_num,annotation,location,feature_num,start_location,end_location
0,16,'palpitations','26 38',9,26,38
1,16,'heart beating/pounding','96 118',9,96,118
2,16,'3-4 months of','56 69',10,56,69
3,16,'17yo','5 9',11,5,9
4,16,'M','10 11',12,10,11

In [27]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [28]:
print(row_index)

[17, 36, 120, 128, 187, 258, 307, 325, 327, 341, 406]

#### The features in these row indexes have repeated start or end locations, so one of the repeated rows should be eliminated to fix this problem as this will be a issue while training spacy NER model

In [88]:
rand_train.iloc[81:83,]   # 45

,pn_num,annotation,location,feature_num,start_location,end_location
84,575,'father with MI','659 673',0,659,673
85,575,'chest pressure','192 206',2,192,206

In [28]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 82])[0][126:151]

'heart racing and pounding'

In [29]:
rand_train.iloc[73:75,]   #73

,pn_num,annotation,location,feature_num,start_location,end_location
73,489,'intermittent','120 132',3,120,132
74,495,'Mom has thyroid disease','795 818',1,795,818

In [30]:
rand_train.iloc[84:86,] # 84

,pn_num,annotation,location,feature_num,start_location,end_location
84,575,'father with MI','659 673',0,659,673
85,575,'chest pressure','192 206',2,192,206

In [31]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 211])[0][161:183]

'heart is pounding fast'

In [32]:
rand_train.iloc[104:106,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
104,669,'mother thyroid problem','788 810',1,788,810
105,669,'occured 5-6 times','108 125',3,108,125

In [33]:
np.array(patient_notes.pn_history[patient_notes.pn_num == 225])[0][461:519]

'drinks about 3-4 cups coffee/day and several energy drinks'

In [34]:
rand_train.iloc[293:295,] # 104

,pn_num,annotation,location,feature_num,start_location,end_location
293,1809,'father with herat attack','664 688',0,664,688
294,1809,'mom with thyroid problem','638 662',1,638,662

#### Code to identify the drop indexes by comparing the start and end locations of the similar locations

In [29]:
row_index = []
start_location = []
end_location = []
pn_notes = set()
drop_index = []
for index,row in rand_train.iterrows():   # Iterating every row in trainn data
    if row["pn_num"] not in pn_notes:    # Verifying whether there is a change in pn_num to reinitialize start and end location lists
        start_location = []
        end_location = []
        pn_notes.add(row["pn_num"])      # Appending pn_num
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])
    else: 
        if (row["start_location"] in start_location) | (row["end_location"] in end_location):
            row_index.append(index)
            if row["start_location"] in start_location:
                if row["end_location"] >= rand_train.iloc[index -1,5]:
                    drop_index.append(index -1)
                else:
                    drop_index.append(index)
            elif row["end_location"] in end_location:
                if row["start_location"] <= rand_train.iloc[index -1,4]:
                    drop_index.append(index - 1)
                else:
                    drop_index.append(index)
        start_location.append(row["start_location"])
        end_location.append(row["end_location"])

In [30]:
len(drop_index)

11

In [31]:
print(drop_index)

[16, 35, 119, 127, 186, 257, 306, 324, 327, 340, 405]

#### Dropping the unwanted indexes

In [32]:
rand_train = rand_train.drop(drop_index,axis=0)

In [90]:
rand_train.loc[(rand_train.end_location == '141')]

     pn_num  annotation    location  feature_num start_location end_location
309    1855   'episode'   '134 141'            3            134          141

In [40]:
rand_train = rand_train.drop(353,axis = 0)

In [41]:
rand_train.loc[(rand_train.end_location == '141')]

     pn_num  annotation    location  feature_num start_location end_location
309    1855   'episode'   '134 141'            3            134          141

In [42]:
rand_train.loc[(rand_train.pn_num == 2428)]

,pn_num,annotation,location,feature_num,start_location,end_location
368,2428,'father heart attack','589 595;606 618',0,589,618
369,2428,'mother hyroid problem','551 557;566 580',1,551,580
370,2428,'chest pressure','161 175',2,161,175

In [43]:
# rand_train = rand_train.drop(1123,axis = 0)

**Finding unique patient numbers in the train dataset**

In [33]:
pn_Num_list = list(rand_train.pn_num.unique())

In [34]:
print(pn_Num_list)

[16, 41, 46, 82, 100, 161, 211, 224, 225, 234, 331, 344, 352, 372, 390, 426, 464, 489, 495, 510, 575, 583, 585, 625, 653, 669, 673, 699, 701, 719, 768, 769, 777, 796, 804, 810, 816, 817, 821, 861, 883, 970, 977, 987, 1010, 1110, 1115, 1133, 1149, 1151, 1165, 1173, 1186, 1200, 1209, 1235, 1250, 1264, 1270, 1281, 1318, 1376, 1512, 1547, 1581, 1587, 1613, 1622, 1652, 1692, 1694, 1699, 1723, 1742, 1809, 1835, 1847, 1855, 1881, 1939, 1948, 2078, 2151, 2163, 2184, 2198, 2201, 2223, 2271, 2285, 2290, 2308, 2315, 2428, 2436]

In [35]:
final_train = []   # appending all the individual rows
for patient_number in pn_Num_list:  # for each unique patient number
    entities = []  # saving individaual entities locations
    for row_index,row in rand_train[rand_train.pn_num == patient_number].iterrows():  # for each unique patient number 
        
        entities.append((int(row["start_location"]),int(row["end_location"]),"Feature_"+ str(row["feature_num"]))) # store the locations in numeric format
        
    text = patient_notes[patient_notes.pn_num == patient_number]["pn_history"].values[0] # save the text for the unique patient number
    
    final_train.append((text,{"entities":entities}))  # for each unique pn_number append to final list

In [37]:
# Serializing json 
json_object = json.dumps(final_train, indent = 4)
  
# Writing to sample.json
with open("sample_Week2.json", "w") as outfile:
    outfile.write(json_object)

In [38]:
import json
 
# Opening JSON file
f = open("sample_Week2.json")
 
# returns JSON object as
# a dictionary
data = json.load(f)

#### Deviding the data into train and validation

In [40]:
len(data)

95

In [41]:
train = data[:75]
validation = data[75:]

In [42]:
len(train),len(validation)

(75, 20)

In [43]:
from spacy.tokens import DocBin
import spacy
import json
from tqdm import tqdm
import spacy
from spacy.tokens import DocBin
import random

In [44]:
# converting the json file to spacy file in order to use it in training model

nlp = spacy.blank("en")
def create_training(TRAIN_DATA):
    db = DocBin()
    for text, annot in tqdm(TRAIN_DATA):
        doc = nlp.make_doc(text)
        ents = []
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                print ("Skipping entity")
            else:
                ents.append(span)
        doc.ents = ents
        db.add(doc)
    return (db)

In [45]:
create_training(train)

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 237.23it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [46]:
#train data set

camp_train = create_training(train)
camp_train.to_disk("nbme_train_Week4_1.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 75/75 [00:00<00:00, 360.23it/s]

Skipping entity
Skipping entity
Skipping entity
Skipping entity
Skipping entity

In [47]:
#test data set

camp_train = create_training(validation)
camp_train.to_disk("nbme_validation_Week4_1.spacy")

100%|█████████████████████████████████████████████████████████████████████████████████| 20/20 [00:00<00:00, 313.33it/s]

In [48]:
!python -m spacy init fill-config ./base_config.cfg ./config.cfg

[+] Auto-filled config with all values
[+] Saved config
config.cfg
You can now add your data and train your pipeline:
python -m spacy train config.cfg --paths.train ./train.spacy --paths.dev ./dev.spacy

In [49]:
!python -m spacy train config.cfg --output ./output

[+] Created output directory: output
[i] Saving to output directory: output
[i] Using CPU

=========================== Initializing pipeline ===========================
[+] Initialized pipeline

============================= Training pipeline =============================
[i] Pipeline: ['tok2vec', 'ner']
[i] Initial learn rate: 0.001
E    #       LOSS TOK2VEC  LOSS NER  ENTS_F  ENTS_P  ENTS_R  SCORE
---  ------  ------------  --------  ------  ------  ------  ------
  0       0          0.00     93.83    0.00    0.00    0.00    0.00
  2     200      25500.42   4810.18   58.60   63.89   54.12    0.59
  5     400       3224.96    625.74   72.50   77.33   68.24    0.72
  8     600      24666.46    484.36   74.68   80.82   69.41    0.75
 10     800        146.18    184.93   73.29   77.63   69.41    0.73
 13    1000        124.75    139.23   70.06   76.39   64.71    0.70
 16    1200        186.47    139.23   70.00   74.67   65.88    0.70
 18    1400        102.02     84.52   71.34   77.78   65.88    0.71
 21    1600        148.22     90.85   71.08   72.84   69.41    0.71
 24    1800         79.23     49.81   72.50   77.33   68.24    0.72
 26    2000        135.39     65.95   72.05   76.32   68.24    0.72
 29    2200        145.47     65.40   72.96   78.38   68.24    0.73
[+] Saved pipeline to output directory
output\model-last

[2022-03-24 12:36:40,906] [INFO] Set up nlp object from config
[2022-03-24 12:36:40,923] [INFO] Pipeline: ['tok2vec', 'ner']
[2022-03-24 12:36:40,929] [INFO] Created vocabulary
[2022-03-24 12:36:40,930] [INFO] Finished initializing nlp object
[2022-03-24 12:36:41,975] [INFO] Initialized pipeline components: ['tok2vec', 'ner']

#### test : 1146,188,831,2425,2430

In [57]:
test = np.array(patient_notes.loc[patient_notes.pn_num ==831,"pn_history"])[0]
test

'HPI- 17 YO M WITH C/O HEART PALPITATIONS FOR 3 MONTHS WHICH WAS SUDDEN IN ONSET, INTERMITTENT AND PROGRESSIVE. HE HAD A SEVERE EPISODE 2 DAYS AGO WHERE HE HAD CHEST TIGHTNESS AND SOB. HE IS STRESSED OUT ABOUT COLLEGE AND IS  TAKING ADY WHICH HIS FRIEND PROVOIDED TO HIM.  HE ALSO CONSUMES 3 TO 4 CUPS OF COFFEE EACH DAY. DENIES FEVER, CHEST PAIN, SLEEP CHANGES COUGH,  SKIN CHANGES, CHANGES IN WEIGHT OR APPETITE, TREMORS, SOB ON EXERTION, CHANGES IN URINARY OR BOWEL HABITS.\r\nPMH/PSH- NONE\r\nALLERGIES- NKA\r\nMEDS- NONE\r\nFH- MOTHER HAS THYROID PROBLEMS AND FATHER HAD MI\r\nSH- DRINKS 3 TO 4 BEERS/WEEKEND, DENIES TOBACCO, SMOKED POT ONCE, PLAYS BASKETBALL AND DOES EXERCISE. \r\nSEXUAL- MONOGAMOUS AND USES CONDOMS.'

In [58]:
nlp = spacy.load("output/model-best")
doc = nlp(test)
for ent in doc.ents:
    print(ent.text, ent.label_,ent.start_char, ent.end_char)

17 YO Feature_11 5 10
M Feature_12 11 12
HEART PALPITATIONS Feature_9 22 40
FOR 3 MONTHS Feature_10 41 53

In [59]:
train_data = pd.read_csv("C:\\Users\\preet\\Desktop\\CAPstone\\train.csv")
train_data[train_data.pn_num == 831]

,id,case_num,pn_num,feature_num,annotation,location
520,00831_000,0,831,0,['FATHER MI'],['556 562;567 569']
521,00831_001,0,831,1,['MOTHER THYROID PROBLEMS'],['524 530;535 551']
522,00831_002,0,831,2,['CHEST TIGHTNESS'],['159 174']
523,00831_003,0,831,3,"['INTERMITTENT', 'EPISODE']","['81 93', '127 134']"
524,00831_004,0,831,4,[],[]
525,00831_005,0,831,5,[],[]
526,00831_006,0,831,6,[],[]
527,00831_007,0,831,7,['SOB'],['179 182']
528,00831_008,0,831,8,"['CONSUMES COFFEE', 'COFFEE']","['280 288;304 310', '304 310']"
529,00831_009,0,831,9,['HEART PALPITATIONS'],['22 40']
530,00831_010,0,831,10,['FOR 3 MONTHS'],['41 53']
531,00831_011,0,831,11,['17 YO'],['5 10']
532,00831_012,0,831,12,['M'],['11 12']